<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concentrate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="width: 90%; margin: auto;">
    <strong>Esta sera la cantidad de numeros para jugar</strong><br><br><br>
    <ion-item> 
      <ion-label position="stacked">Ingresa un numero del 1 al 10</ion-label>
      <ion-input  (keyup)="updateValue($event)"  name="nombre"  ></ion-input>
    </ion-item>

    <ion-button (click)="goPageGame()" style="margin-top: 30px;">Empezar a jugar</ion-button>
  </div>
</ion-content>
